core/src/test/resources/com/github/fluentxml4j/internal/validate/rejecting-schema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="data">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="persons">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="person" minOccurs="0" maxOccurs="0">
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>